/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/public/images/resultados_PTA/
/storage/app/logs_backups/
/storage/app/DOCUMENTACION_GIS/
/storage/app/FUNDICION_ALMACEN/
/public/herramientas_tecamac/
/config/configMCP.yaml
/.configMCP.yaml
/public/DOCUMENTACION_GIS/

# Archivos de volcado de datos locales
/pieces_output.json
/pieces_full.json
