/* General reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.filter-opacity-home {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #0000003a;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(8px); /* Safari */
    z-index: 1;
}
/* ESTILOS PARA LA TABLA */
.div-table {
    background-color: #fff;
    width: 60%;
    overflow-x: auto;
    overflow-y: auto;
}
table {
    width: 200%;
    border-collapse: collapse;
    margin-top: 12px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
}
th,
td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #033966;
    color: #fff;
}
tr:nth-child(even) {
    background-color: #eee;
}
.btn-pza {
    display: inline-block;
    width: 60px;
    transition: 0.2s;
}
.btn-pza:hover {
    transform: scale(1.4);
    transition: 0.2s;
}
.ver {
    width: 100%;
}
.btn-liberar {
    display: inline-block;
    width: 40px;
    transition: 0.2s;
}
.btn-liberar:hover {
    transform: scale(1.4);
    transition: 0.2s;
}
.btns {
    padding: 10px 30px;
    background-color: #0a8504;
    box-shadow: 0 2px 5px #0a8504ff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 700;
    margin: 0 10px;
    transition: 0.2s;
}
.btns:hover {
    background-color: #0a8504;
    transition: 0.2s;
    transform: scale(1.2); /* Realiza un pequeño zoom del 5% */
}

.filter-blur {
    position: fixed;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(4px);
}
/* Introduction section */
.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
.intro-img {
    width: 100%;
    position: relative;
    margin-left: 13em;
    border-radius: 5px;
    box-shadow: 0 0 10px 0px #000000;
}
.intro-text {
    position: absolute;
    max-width: 30rem;
    z-index: 1;
    margin-top: 10em;
    background-color: rgba(255, 255, 255, 0.744);
    box-shadow: #000000 0px 0px 10px 0px;
    padding: 3em;
}
.welcome-title {
    font-size: 2em;
    text-align: center;
}
.welcome-text {
    font-size: 1.3em;
    text-align: justify;
    margin-top: 1em;
}
.btn-close-session-home {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrado real */
    background-color: #b30404;
    color: white;
    padding: 1em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.3em;
    box-shadow: 0 0 10px 0px #000000;
    transition: all 0.2s ease;
}
.btn-close-session-home:hover {
    transform: translate(-50%, -50%) scale(1.1);
}
.div-new-report {
    position: absolute;
    top: 5rem;
    right: 0;
    height: calc(100vh - 5rem);
    width: 10%;
    overflow: hidden;
    background-color: transparent;
    transition: width 0.6s ease, background-color 0.6s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: white;
    font-size: 10em;
    animation: float 1s ease-in-out infinite;
    text-shadow: #fff 0px 0px 10px;
}

.div-new-report.active {
    cursor: pointer;
    width: 50%;
    background-color: #030041;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    font-size: 2em;
    text-shadow: none;
}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
.div-new-report:hover {
    animation: none;
}

/* Responsive design */
@media screen and (max-width: 600px) {
    body {
        overflow: hidden;
    }
    .intro-img {
        width: 70%;
        height: 80%;
        margin-top: -6em;
        margin-left: 22%;
    }
    .welcome-title {
        font-size: 1.7em;
        text-align: center;
    }
    .welcome-text {
        font-size: 1.1em;
        text-align: justify;
    }
    .intro-text {
        max-width: 22em;
        font-size: 0.9em;
        margin-left: 30px;
        margin-top: 2em;
        padding: 16px;
    }
}
