* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.container-meta {
    position: relative;
    display: flex;
    justify-content: space-between;
}
/* Estilos del div buscador */
.principal-data {
    width: 25%;
    padding: 1em;
    box-sizing: border-box;
}
.form-pricipal-data {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas iguales */
    gap: 1em; /* Espacio entre columnas y filas */
}
.form-grid-one {
    grid-template-columns: repeat(1, 1fr); /* 1 columna */
}
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-control {
    width: 100%;
    border-radius: 5px;
    padding: 0.8em 0.2em;
    border: 1px solid #00000033;
    text-align: center;
    font-size: 1em;
    letter-spacing: 1px;
    background: #033966;
    border: 5px solid #033966d4;
    color: #ffffff;
}
td {
    position: relative;
}
.form-label {
    font-size: 1.3rem;
    font-weight: 700;
    color: #033966;
}
.full-width {
    grid-column: 1 / -1;
}
.normal-width {
    grid-column: 1 / 2;
}
.normal-input {
    border: 5px solid #033966d4;
    border-radius: 5px;
    padding: 0.5em 0;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 900;
    background: #fff;
    color: #000;
    cursor: auto;
}
.form-group select {
    font-size: 1em;
}
.btn-submit {
    opacity: 0;
    width: 100%;
    background: #033966;
    color: #ffffff;
    padding: 0.8em;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 1em;
}
.btn-submit:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}
.btn-cancel {
    position: absolute;
    background: #9c0300;
    color: #ffffff;
    text-decoration: none;
    padding: 0.8em;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.3s ease;
    margin: 1em;
}
.btn-cancel:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}
p {
    margin: 2em;
    color: #f00;
    font-size: 1.3em;
    font-weight: 700;
    font-style: oblique;
    text-transform: uppercase;
}

/** Tabla de metas */
.div-table-meta {
    position: relative;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-verified-password {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em 10em;
}
.img-edit {
    position: absolute;
    top: 1em;
    left: 0;
    width: 3em;
    cursor: pointer;
    transition: all 0.2s ease;
}
.img-edit:hover {
    transform: scale(1.1);
    transition: 0.2s ease;
}
.input-password {
    font-size: 1.2em;
    padding: 0.2em;
    width: inherit;
    cursor: text;
    margin-right: 1em;
}
.btn-submit-password {
    background: #033966;
    color: #ffffff;
    box-sizing: border-box;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    font-size: 1.3em;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-submit-password:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}

.form-group-password {
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.table-meta {
    width: 100%;
    border: #033966d4 solid 5px;
    font-size: 1.5em;
    border-radius: 10px;
    margin-top: 2em;
}

.table-meta th {
    background: #033966d4;
    color: #ffffff;
    padding: 0.5em;
    text-align: center;
}
.table-meta input {
    width: 100%;
    border: none;
    font-size: 1.2em;
    padding: 0.5em;
    text-align: center;
    font-weight: 900;
    color: #000000;
    cursor: auto;
}
.warning-pieces {
    width: 90%;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.5em;
    border-radius: 5px;
    background-color: #fcebea;
    border: 1px solid #f5c6cb;
    color: #cc1f1a;
}

/* Tabla de codigos de version */
.div-table-code {
    width: 25%;
    box-sizing: border-box;
    padding: 1em 5em;
}
.operator-name {
    margin-bottom: 1em;
    font-size: 1.2em;
    font-weight: 700;
}
.operator-name input {
    font-size: 1em;
    width: 100%;
}
.table-code {
    width: 100%;
    border: #033966d4 solid 5px;
    font-size: 1.2em;
    border-radius: 10px;
}
.table-code th {
    background: #fff;
    color: #000;
    padding: 1em 0.5em;
    border: #000 solid 3px;
}

/* Tabla de piezas*/
.form-tablePieces {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.label-table {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #033966;
}
.scrollable-table {
    position: relative;
    margin-top: 2em;
    border-radius: 10px;
    width: 90%;
    height: 30vh;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.max-height-table {
    height: 50vh;
}
.table {
    border-collapse: collapse;
    border: 2px solid #032c00cc;
    background: #fff;
    width: max-content;
    margin: 10px;
    width: 300%;
    box-shadow: 0 0 10px rgba(0, 0, 0);
}

.table-title {
    border: 3px solid #000;
    background-color: #033966;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
}

.table input {
    height: 100%;
    color: #000000;
    text-align: center;
    padding: 0.5em 0;
    font-size: 1.2em;
    background: #03396610;
}
.table td {
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 1.3em;
    font-weight: 700;
    border: 3px solid #033966;
}
.input-medio {
    width: 50%;
}
.input {
    width: 100%;
}
td textarea {
    text-align: center;
    width: 100%;
    height: 100%;
    resize: none;
    box-sizing: border-box;
    font-size: 1.1em;
}
td select {
    text-align: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 1.1em;
}
.div-btn {
    display: flex;
    justify-content: end;
}
.btn-finishReport {
    opacity: 0;
    background: #9c0300;
    color: #ffffff;
    padding: 0.5em 1em;
    margin: 1em;
    border: none;
    border-radius: 5px;
    font-size: 1.3em;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-finishReport:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.btn-savePiece {
    background: #033966;
    color: #ffffff;
    padding: 0.8em;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.3s ease;
    margin: 2em 0;
}
.btn-savePiece:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}
.select-pieces {
    text-align: center;
    background: #404040;
    border: 3px solid #fff;
    color: #ffffff;
}

/* .alert-NoCotas {
    color: #f00;
    font-size: 1.2em;
    font-weight: 700;
    font-style: oblique;
    text-transform: uppercase;
    padding: 1em;
    border: 2px solid #f00;
    border-radius: 5px;
    background: #fff;
    margin: 1em 0;
} */
.div-opacity {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #0000003a;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(8px); /* Safari */
    z-index: 1;
}
.alert-NoCotas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    max-width: 800px;
    width: 50%;
    transition: 0.2s;
    padding: 2em;
    border-radius: 10px;
    font-weight: 800;
}
.div-cerrar {
    width: 3em;
    margin-left: 95%;
}

.btn-cerrar {
    border: none;
    background: transparent;
    transition: 0.2s;
}

.btn-cerrar:hover {
    transform: scale(1.3);
    transition: 0.2s;
}

.img-cerrar {
    width: 100%;
}

.img-error {
    width: 15em;
    padding: 10px;
}
.label-alert {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 1em;
}
.btn-acept {
    background: #9c0300;
    color: #ffffff;
    padding: 0.5em 1em;
    margin: 1em;
    border: none;
    border-radius: 5px;
    font-size: 1.3em;
    cursor: pointer;
    transition: 0.3s ease;
}
.label-noCotas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #033966;
    font-size: 1.5em;
    font-weight: 700;
    font-style: oblique;
    text-transform: uppercase;
    padding: 1em;
    border: 5px solid #033966;
    border-radius: 5px;
    background: #fff;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Editar piezas registradas */
.div-editPieces {
    position: absolute;
    display: flex;
    right: 8em;
    bottom: 0;
    box-sizing: border-box;
    height: 3em;
}
.form-verifyPassword {
    width: 100%;
}
.img-editPieces {
    cursor: pointer;
    transition: 0.2s ease;
    border: none;
    margin-left: 3em;
}
.img-editPieces:hover {
    transform: scale(1.1);
}
