/* Contenedor principal */
.wrapper {
    max-width: 600px;
    margin: 11rem auto;
    padding: 2.5rem 2rem;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 1.2rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    text-align: center;
}
/* Formulario */
.form,
form {
    width: 100%;
}
/* Logo */
.lg-saavedra {
    width: 200px;
    margin-bottom: 1.2rem;
}
/* Título */
.wrapper h2 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
    color: #033966;
}
/* Campos*/
/* .form-label {
    text-align: left;
    display: block;
    font-weight: 500;
    color: #033966;
    margin-bottom: 0.3rem;
}
.form-control {
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.55rem 0.75rem;
    border: 1px solid #cfcfcf;
    font-size: 0.95rem;
    transition: border-color 0.3s, box-shadow 0.3s;
    background-color: #fafafa;
}
.form-control:focus {
    border-color: #033966;
    box-shadow: 0 0 0 2px rgba(3, 57, 102, 0.2);
    outline: none;
} */

/* Espaciado entre inputs */
/*.mb-3 {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
    margin-bottom: 1.2rem;
    text-align: left;
}*/

/* Botones */
.div-bttns {
    margin-top: 2rem;
}

.div-bttns button {
    min-width: 170px;
    margin: 0 1rem;
    padding: 0.6rem 1.2rem 0.5rem 1.2rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.6rem;
    transition: all 0.5s ease-in-out;
}
.div-bttns button:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
    transform: all 0.3s ease-in-out;
}
/* botón registrar soldadura */
.btn-primary {
    background-color: #4080b4;
    border: none;
    font-family: Poppins, sans-serif;
}
.btn-primary:hover {
    color: #000000;
    background-color: #3da7fe;
    transition: all 0.3s ease-in-out;
}

/* botón liberar soldadura */
.btn-success {
    background-color: #3ca976;
    border: none;
     font-family: Poppins, sans-serif;
}

.btn-success:hover {
    color: #000000;
    background-color: #1acd7a;
    transition: all 0.3s ease-in-out;
}

/* Responsive */
@media (max-width: 576px) {
    .wrapper {
        margin: 2rem 1rem;
        padding: 2rem 1.5rem;
    }

    .div-bttns {
        flex-direction: column;
    }

    .div-bttns button {
        width: 100%;
    }
}
